.App{
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding-bottom: 10%;
}

.App h1{
  margin: 0%;
  padding: 2%;
  text-align: center;
  font-size: 76px;
  color: #0ccac4;
  font-family: 'Bigelow Rules';
}

@media (max-width: 650px){
  .App{
    padding-bottom: 25%;
  }
}

@media (max-width: 450px){
  .App{
    padding-bottom: 135%;
  }
}